---
- name: Кладём phpinfo-страницу
  copy:
    dest: /var/www/html/info.php
    mode: '0644'
    owner: www-data
    group: www-data
    content: |
      <?php phpinfo(); ?>

- name: Кладём тестовый скрипт проверки подключения к БД
  template:
    src: db-test.php.j2
    dest: /var/www/html/db-test.php
    mode: '0644'
    owner: www-data
    group: www-data

- name: Проверяем доступность phpinfo
  uri:
    url: "http://{{ ansible_host }}/info.php"
    return_content: yes
    status_code: 200
  register: phpinfo_result
  failed_when: phpinfo_result.status != 200

- name: Проверяем подключение к базе через веб
  uri:
    url: "http://{{ ansible_host }}/db-test.php"
    return_content: yes
    status_code: 200
  register: db_result
  failed_when: db_result.status != 200 or 'успешно' not in db_result.content